<div class="banner">
    <h1>Contact</h1>
</div>

<div class="img-banner-find-us"></div>

<div class="container">
    <h3>L'adresse de la Pause</h3>
    <blockquote>
        <strong>La Pause</strong><br />
        3 chemin de Trevargen Izella<br />
        29570 - Roscanvel<br />
        FRANCE<br />
    </blockquote>
</div>


<iframe width="100%" height="450" frameborder="0" style="border:0; margin:50px 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10612.1465532602!2d-4.5496347!3d48.3213768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd4b7e32deb45bec!2sG%C3%AEte%20La%20Pause!5e0!3m2!1sen!2sfr!4v1624099485200!5m2!1sen!2sfr" allowfullscreen loading="lazy"></iframe>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Prendre contact</h3>
            <blockquote>
                Aïcha Dupoy de Guitard<br />
                <abbr title="Téléphone">Tel</abbr> : (+33) 6 75 78 75 65<br />
            </blockquote>
        </div>
    </div>
</div>
