<div class="white-banner">
    <h1 class="big-title">La Pause</h1>
    <p class="lead">Une parenthèse cocooning...</p>
</div>
<span class="badge-cotemaison" style="display:inline-block;cursor:pointer;" onclick="javascript:location.href='https://projets.cotemaison.fr/projet/11232';" ><img src="http://projets.cotemaison.fr/bundles/decoverywebsite/img/badge-seen-on/badge-cm-grey.png" width="120" alt="Décoration sur Cotemaison.fr"/></span>
