<div class="banner">
    <h1>Le Gîte</h1>
</div>

<div class="container">
    <h3>Un penty du XVIIème siècle</h3>
    <p>Offrez-vous une parenthèse confortable et au calme dans une petite maison en pierre(penty)du XVII ème siècle rénovée avec soin, à deux pas de la mer.</p>
    <p>Lové dans son écrin de verdure, en bordure du GR 34, le gîte "La Pause" saura vous séduire par sa décoration épurée inspirée de la poésie de la nature et de créations d'artiste.A proximité du bourg et du petit port (à pied ou à vélo), vous pourrez également rayonner sur toute la presqu'île de Crozon pour découvrir ses trésors naturels.</p>
    <div id="ext-gallery" class="gallery">
        <a href="/assets/img/gite/ext/1.JPG"><img src="/assets/img/gite/ext/1-th.jpg"/></a>
        <a href="/assets/img/gite/ext/2.JPG"><img src="/assets/img/gite/ext/2-th.jpg"/></a>
        <a href="/assets/img/gite/ext/3.JPG"><img src="/assets/img/gite/ext/3-th.jpg"/></a>
        <a href="/assets/img/gite/ext/4.JPG"><img src="/assets/img/gite/ext/4-th.jpg"/></a>
        <a href="/assets/img/gite/ext/5.JPG"><img src="/assets/img/gite/ext/5-th.jpg"/></a>
        <a href="/assets/img/gite/ext/6.JPG"><img src="/assets/img/gite/ext/6-th.jpg"/></a>
        <a href="/assets/img/gite/ext/7.JPG"><img src="/assets/img/gite/ext/7-th.jpg"/></a>
        <a href="/assets/img/gite/ext/8.JPG"><img src="/assets/img/gite/ext/8-th.jpg"/></a>
        <a href="/assets/img/gite/ext/9.JPG"><img src="/assets/img/gite/ext/9-th.jpg"/></a>
        <a href="/assets/img/gite/ext/10.JPG"><img src="/assets/img/gite/ext/10-th.jpg"/></a>
        <a href="/assets/img/gite/ext/11.JPG"><img src="/assets/img/gite/ext/11-th.jpg"/></a>
        <a href="/assets/img/gite/ext/12.JPG"><img src="/assets/img/gite/ext/12-th.jpg"/></a>
        <a href="/assets/img/gite/ext/13.JPG"><img src="/assets/img/gite/ext/13-th.jpg"/></a>
        <a href="/assets/img/gite/ext/14.JPG"><img src="/assets/img/gite/ext/14-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-wood"></div>

<div class="container">
    <h3>Dialogue entre Terre et Mer</h3>
    <p>Ce penty d'une surface totale de 70m² vous offrira une sensation d'espace tout en profitant d'une atmosphère cosy. La décoration inspirée de la nature est une invitation à se laisser porter par la sérénité des couleurs, de la lumière et des matières naturelles. Le mobilier mêle le contemporain, le vintage et la récupération d'objets détournés, tout en suivant une trame poétique.</p>
    <p>Ainsi la Mer et la Terre s'unissent dans chaque pièce de la maison.</p>
    <p>Une partie du grand jardin est offerte à la biodiversitéen laissant la prairie libre de fleurir naturellement. Vous pourrez ainsi admirer les papillons butiner et écouter le chant des grillons depuis le gîte.</p>
    <div id="mix-gallery" class="gallery">
        <a href="/assets/img/gite/mix/15.JPG"><img src="/assets/img/gite/mix/15-th.jpg"/></a>
        <a href="/assets/img/gite/mix/16.JPG"><img src="/assets/img/gite/mix/16-th.jpg"/></a>
        <a href="/assets/img/gite/mix/17.JPG"><img src="/assets/img/gite/mix/17-th.jpg"/></a>
        <a href="/assets/img/gite/mix/18.JPG"><img src="/assets/img/gite/mix/18-th.jpg"/></a>
        <a href="/assets/img/gite/mix/19.JPG"><img src="/assets/img/gite/mix/19-th.jpg"/></a>
        <a href="/assets/img/gite/mix/20.JPG"><img src="/assets/img/gite/mix/20-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-skyline"></div>

<div class="container">
    <h3>Un confort exceptionnel</h3>
    <p class="lead">Un dialogue permanent entre extérieur et intérieur s'ouvre grâce à la lumineuse véranda, la terrasse en mélèze et les fenêtres traversantes du penty.</p>
    <p>A l'étage, vous pourrez faire de beaux rêves dans un lit king size de 180 x 200 cm et vivre l'expérience de flotter dans l'air sur le filet de catamaran suspendu dans la mezzanine.</p>

    <div id="int-gallery" class="gallery">
        <a href="/assets/img/gite/int/21.JPG"><img src="/assets/img/gite/int/21-th.jpg"/></a>
        <a href="/assets/img/gite/int/22.JPG"><img src="/assets/img/gite/int/22-th.jpg"/></a>
        <a href="/assets/img/gite/int/23.JPG"><img src="/assets/img/gite/int/23-th.jpg"/></a>
        <a href="/assets/img/gite/int/24.JPG"><img src="/assets/img/gite/int/24-th.jpg"/></a>
        <a href="/assets/img/gite/int/25.JPG"><img src="/assets/img/gite/int/25-th.jpg"/></a>
        <a href="/assets/img/gite/int/26.JPG"><img src="/assets/img/gite/int/26-th.jpg"/></a>
        <a href="/assets/img/gite/int/27.JPG"><img src="/assets/img/gite/int/27-th.jpg"/></a>
        <a href="/assets/img/gite/int/28.JPG"><img src="/assets/img/gite/int/28-th.jpg"/></a>
        <a href="/assets/img/gite/int/29.JPG"><img src="/assets/img/gite/int/29-th.jpg"/></a>
        <a href="/assets/img/gite/int/30.JPG"><img src="/assets/img/gite/int/30-th.jpg"/></a>
        <a href="/assets/img/gite/int/31.JPG"><img src="/assets/img/gite/int/31-th.jpg"/></a>
        <a href="/assets/img/gite/int/32.JPG"><img src="/assets/img/gite/int/32-th.jpg"/></a>
        <a href="/assets/img/gite/int/33.JPG"><img src="/assets/img/gite/int/33-th.jpg"/></a>
        <a href="/assets/img/gite/int/34.JPG"><img src="/assets/img/gite/int/34-th.jpg"/></a>
        <a href="/assets/img/gite/int/35.JPG"><img src="/assets/img/gite/int/35-th.jpg"/></a>
        <a href="/assets/img/gite/int/36.JPG"><img src="/assets/img/gite/int/36-th.jpg"/></a>
        <a href="/assets/img/gite/int/37.JPG"><img src="/assets/img/gite/int/37-th.jpg"/></a>
        <a href="/assets/img/gite/int/38.JPG"><img src="/assets/img/gite/int/38-th.jpg"/></a>
        <a href="/assets/img/gite/int/39.JPG"><img src="/assets/img/gite/int/39-th.jpg"/></a>
        <a href="/assets/img/gite/int/40.JPG"><img src="/assets/img/gite/int/40-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-equipment"></div>

<div class="container">
    <h3>Équipements</h3>
    <blockquote>
        <div class="row">
            <div class="col-sm-6">
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/wifi.svg" alt="Internet" /></div>
                    <div class="col-sm-10 col-xs-7">Internet (Wifi & Ethernet)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/microwave.svg" alt="Four à micro ondes" /></div>
                    <div class="col-sm-10 col-xs-7">Four électrique / micro onde</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/pan.svg" alt="Plaques vitrocéramiques" /></div>
                    <div class="col-sm-10 col-xs-7">Plaques vitrocéramiques</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/fridge.svg" alt="Réfrigérateur" /></div>
                    <div class="col-sm-10 col-xs-7">Réfrigérateur</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/cutlery.svg" alt="Vaisselle" /></div>
                    <div class="col-sm-10 col-xs-7">Vaisselle</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/coffee-machine.svg" alt="Machine à café" /></div>
                    <div class="col-sm-10 col-xs-7">Machine à café</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/kettle.svg" alt="Bouilloire électrique" /></div>
                    <div class="col-sm-10 col-xs-7">Bouilloire électrique</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/bed.svg" alt="Lit" /></div>
                    <div class="col-sm-10 col-xs-7">Lit 2 pers. + deux lits 1 pers. (linge de maison fourni)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/shower.svg" alt="Cabine de douche" /></div>
                    <div class="col-sm-10 col-xs-7">Cabine de douche (serviettes fournies)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/hairdryer.png" alt="Sèche-Cheveux" /></div>
                    <div class="col-sm-10 col-xs-7">Sèche-cheveux</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/toilet.svg" alt="Toilettes" /></div>
                    <div class="col-sm-10 col-xs-7">Toilettes sèches</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/terrace.svg" alt="Terrasse" /></div>
                    <div class="col-sm-10 col-xs-7">Grande terrasse en bois</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/campfire.svg" alt="Feu de camp" /></div>
                    <div class="col-sm-10 col-xs-7">Feu de camp canadien</div>
                </div>
            </div>
        </div>
    </blockquote>
</div>

<script>
    $(document).ready(function() {
        $("#ext-gallery").lightGallery();
        $("#int-gallery").lightGallery();
    });
</script>
