<div class="banner">
    <h1>Presqu'île de Crozon</h1>
</div>

<div class="container">
    <h3>Petit paradis du bout du monde</h3>
    <p>Situé au sein du Parc naturel régional d'Armorique et du Parc naturel d'Iroise, le littoral de la presqu’île de Crozon offre une multitude de paysages préservés, des hautes falaises aux grandes plages de sable fin, en passant par les criques secrètes et les grèves mystérieuses. Une invitation à la contemplation, au fil des lumières...</p>

    <div id="presqu-ile-gallery" class="gallery">
        <a href="/assets/img/presqu-ile/1.JPG"><img src="/assets/img/presqu-ile/1-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/2.JPG"><img src="/assets/img/presqu-ile/2-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/3.JPG"><img src="/assets/img/presqu-ile/3-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/4.JPG"><img src="/assets/img/presqu-ile/4-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/5.JPG"><img src="/assets/img/presqu-ile/5-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/6.JPG"><img src="/assets/img/presqu-ile/6-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/7.JPG"><img src="/assets/img/presqu-ile/7-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/8.JPG"><img src="/assets/img/presqu-ile/8-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/9.JPG"><img src="/assets/img/presqu-ile/9-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/10.JPG"><img src="/assets/img/presqu-ile/10-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/11.JPG"><img src="/assets/img/presqu-ile/11-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/12.JPG"><img src="/assets/img/presqu-ile/12-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/13.JPG"><img src="/assets/img/presqu-ile/13-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/14.JPG"><img src="/assets/img/presqu-ile/14-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/15.JPG"><img src="/assets/img/presqu-ile/15-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/16.JPG"><img src="/assets/img/presqu-ile/16-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/17.JPG"><img src="/assets/img/presqu-ile/17-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-horse"></div>

<div class="container">
    <h3>Activités de plein air</h3>
    <p>La presqu’île de Crozon est un petit paradis pour les amoureux de la nature et les activités de plein air: surf, kite surf, paddle randonnée, balades à cheval, avec un âne, kayak, escalade, VTT, nautisme, plongée sous-marine, windsurf, char à voile, etc...</p>
    <p>La culture est également au rendez-vous avec un patrimoine riche et diversifié, de nombreux ateliers d’artistes et des évènements musicaux qui rythment les saisons.</p>

    <div id="activite-gallery" class="gallery">
        <a href="/assets/img/activites/1.JPG"><img src="/assets/img/activites/1-th.jpg"/></a>
        <a href="/assets/img/activites/2.JPG"><img src="/assets/img/activites/2-th.jpg"/></a>
        <a href="/assets/img/activites/3.JPG"><img src="/assets/img/activites/3-th.jpg"/></a>
        <a href="/assets/img/activites/4.JPG"><img src="/assets/img/activites/4-th.jpg"/></a>
        <a href="/assets/img/activites/5.JPG"><img src="/assets/img/activites/5-th.jpg"/></a>
        <a href="/assets/img/activites/6.JPG"><img src="/assets/img/activites/6-th.jpg"/></a>
        <a href="/assets/img/activites/7.JPG"><img src="/assets/img/activites/7-th.jpg"/></a>
        <a href="/assets/img/activites/8.JPG"><img src="/assets/img/activites/8-th.jpg"/></a>
        <a href="/assets/img/activites/9.JPG"><img src="/assets/img/activites/9-th.jpg"/></a>
        <a href="/assets/img/activites/10.JPG"><img src="/assets/img/activites/10-th.jpg"/></a>
        <a href="/assets/img/activites/11.JPG"><img src="/assets/img/activites/11-th.jpg"/></a>
        <a href="/assets/img/activites/12.JPG"><img src="/assets/img/activites/12-th.jpg"/></a>
        <a href="/assets/img/activites/13.JPG"><img src="/assets/img/activites/13-th.jpg"/></a>
        <a href="/assets/img/activites/14.JPG"><img src="/assets/img/activites/14-th.jpg"/></a>
        <a href="/assets/img/activites/15.JPG"><img src="/assets/img/activites/15-th.jpg"/></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#presqu-ile-gallery").lightGallery();
        $("#activite-gallery").lightGallery();
    });
</script>
