<div class="banner">
    <h1>Réserver</h1>
    <p class="lead">Retrouvez nos disponibilités et tarifs sur Airbnb</p>
</div>
<div class="airbnb-embed-frame" data-id="50266389" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.fr/rooms/50266389?check_in=2021-09-04&amp;check_out=2021-09-11&amp;guests=1&amp;adults=1&amp;s=66&amp;unique_share_id=1aace451-7c0b-48be-8011-53daf1a9f5aa&amp;source=embed_widget">Voir sur Airbnb</a><a href="https://www.airbnb.fr/rooms/50266389?check_in=2021-09-04&amp;check_out=2021-09-11&amp;guests=1&amp;adults=1&amp;s=66&amp;unique_share_id=1aace451-7c0b-48be-8011-53daf1a9f5aa&amp;source=embed_widget" rel="nofollow">La Pause - Maison en pierre cosy au calme - GR34</a><script async="" src="https://www.airbnb.fr/embeddable/airbnb_jssdk"></script></div>
