<div class="container">
    <div class="banner">
        <h1>Roscanvel</h1>
    </div>

    <h3>Une presqu'île dans la presqu'île</h3>
    <p>Probablement le village le plus ensoleillé de la presqu’île de Crozon, Roscanvel est situé juste à l’entrée de la rade de Brest. Un lieu idéal pour se ressourcer au calme et profiter de la nature environnante. </p>
    <p>De nombreux chemins de randonnée vous permettront de découvrir des paysages très variés, des hautes falaises aux petites grèves abritées, à travers les landes sauvages, au détour d’un chemin creux...</p>
    <p>Les fortifications fourmillent sur le littoral. Construites entre le XVIIème et le XXème siècle, ces témoins de l’histoire sont accessibles par le sentier des douaniers. Découvrez également le circuit des fontaines et lavoirs qui jalonnent le territoire.</p>
    <p>Le bourg de Roscanvel et son petit port sont animés par un centre nautique, un club de plongée, une épicerie bar-tabac ainsi qu’une crêperie.</p>
    <div id="gallery" class="gallery">
        <a href="/assets/img/roscanvel/1.JPG"><img src="/assets/img/roscanvel/1-th.jpg"/></a>
        <a href="/assets/img/roscanvel/2.JPG"><img src="/assets/img/roscanvel/2-th.jpg"/></a>
        <a href="/assets/img/roscanvel/3.JPG"><img src="/assets/img/roscanvel/3-th.jpg"/></a>
        <a href="/assets/img/roscanvel/4.JPG"><img src="/assets/img/roscanvel/4-th.jpg"/></a>
        <a href="/assets/img/roscanvel/6.JPG"><img src="/assets/img/roscanvel/6-th.jpg"/></a>
        <a href="/assets/img/roscanvel/7.JPG"><img src="/assets/img/roscanvel/7-th.jpg"/></a>
        <a href="/assets/img/roscanvel/8.JPG"><img src="/assets/img/roscanvel/8-th.jpg"/></a>
        <a href="/assets/img/roscanvel/9.JPG"><img src="/assets/img/roscanvel/9-th.jpg"/></a>
        <a href="/assets/img/roscanvel/10.JPG"><img src="/assets/img/roscanvel/10-th.jpg"/></a>
        <a href="/assets/img/roscanvel/11.JPG"><img src="/assets/img/roscanvel/11-th.jpg"/></a>
        <a href="/assets/img/roscanvel/12.JPG"><img src="/assets/img/roscanvel/12-th.jpg"/></a>
        <a href="/assets/img/roscanvel/13.JPG"><img src="/assets/img/roscanvel/13-th.jpg"/></a>
        <a href="/assets/img/roscanvel/14.JPG"><img src="/assets/img/roscanvel/14-th.jpg"/></a>
        <a href="/assets/img/roscanvel/15.JPG"><img src="/assets/img/roscanvel/15-th.jpg"/></a>
        <a href="/assets/img/roscanvel/16.JPG"><img src="/assets/img/roscanvel/16-th.jpg"/></a>
        <a href="/assets/img/roscanvel/17.JPG"><img src="/assets/img/roscanvel/17-th.jpg"/></a>
    </div>
</div>

<div class="navbar-fix"></div>

<script>
    $(document).ready(function() {
        $("#gallery").lightGallery();
    });
</script>
